
.login-section{
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right:0;
  background: #3B3E40;
}
.loginForm{
  width:300px;
  margin:200px auto;
}
.loginForm-warning{
  color:red;
}
.form-group label{
  color: #fff;
}
.loginForm-button{
  width:50px;
}
