.loginForm{
  width:300px;
  margin:200px auto;
  //text-align: center;
}
//.login-section{
//  display: block;
//  height:500px;
//  width:100%;
//  background: url("../images/bg-1.jpg") no-repeat;
//}
.loginForm-warning{
  color:red;
}
