
.login-section{
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right:0;
  background: #3B3E40;
}
.loginForm{
  width:300px;
  margin:200px auto;
}
.loginForm-warning{
  color:red;
}
.form-group label{
  color: #fff;
}
.loginForm-button{
  background: linear-gradient(to bottom, #208ed3 0%,#0272bd 100%);
  width:130px;
}
.signIn-button{
  width:130px;
  float: right;
  background: linear-gradient(to bottom, #5cb85c 0%, #4cae4c 100%);
}
