.maintain-section {
  color: #a3a3a3;
}
.maintain-main{
  border:1px solid #ccc;
  padding: 20px;
  min-height: 800px;
}
.maintain-top{
  margin-bottom: 30px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.maintain-title{
  float: left;
  font-size:16px;
  font-weight: bold;
  line-height: 50px;
}
.maintain-title-span{
  color: #449d44;
}
.maintain-button{
  line-height: 50px;
  float: right;
}
.maintain-th,.maintain-td{
  text-align: center;
}
.purple-stripe{
  border-left: 3px solid #8e5fa2;
}