<section class="layout-main">
  <div class="user-info">
    <div class="userInfo-basic">
      <p class="userInfoBasic-p">欢迎回来 {{username}}</p>
    </div>
    <div class="userInfoBasic-button">
      <button class="btn btn-primary" ng-click="logout()">退出登录</button>
    </div>
  </div>
  <div style="width: 100%;height: 65px;"></div>
  <div class="layout-nav">
    <ul class="layoutNav-ul">
      <!--<li class="layoutNav-li" ng-click="changeState('')">-->
        <!--<a href="javascript:void(0)"><i class="fa fa-paper-plane layoutNav-i"></i>待办事项</a>-->
      <!--</li>-->
      <li class="layoutNav-li" ng-click="changeState('maintain')">
        <a href="javascript:void(0)"><i class="fa fa-wrench layoutNav-i"></i>管理群组</a>
      </li>
      <li class="layoutNav-li" ng-click="changeState('tasklist')">
        <a href="javascript:void(0)"><i class="fa fa-list layoutNav-i"></i>任务列表</a>
      </li>
      <li class="layoutNav-li" ng-click="changeState('myinfo')">
        <a href="javascript:void(0)"><i class="fa fa-user layoutNav-i"></i>个人信息</a>
      </li>
    </ul>
  </div>
  <div class="layout-content">
    <div ui-view></div>
  </div>
  <div class="layout-footer">
    <div class="layout-footer-inner">BY: YAN ZHI RU</div>
  </div>

</section>
