<section class="layout-main">
  <div class="user-info">
    <div class="userInfo-basic">
      <p class="userInfoBasic-p">欢迎回来 {}</p>
    </div>
    <div class="userInfoBasic-button">
      <button class="btn btn-primary" ng-click="loginOut()">退出登录</button>
    </div>
  </div>
  <div style="width: 100%;height: 65px;"></div>
  <div class="layout-nav">
    <ul class="layoutNav-ul">
      <li class="layoutNav-li">
        <a href="">个人信息</a>
      </li>
      <li class="layoutNav-li">
        <a href="">发起采集</a>
      </li>
      <li class="layoutNav-li">
        <a href="">我已提交</a>
      </li>
      <li class="layoutNav-li">
        <a href="">我所发起</a>
      </li>
    </ul>
  </div>
  <div class="layout-content">
11111111111111111111111111111111
  </div>

</section>
