<section class="login-section">
  <form name="loginForm" class="loginForm animated zoomInDown" novalidate>

    <div class="form-group">
      <label for="user">用户名111</label>
      <input type="text" name="user" id="user" class="form-control" ng-model="loginInfo.user" placeholder="请输入您的用户名" required>
    </div>
    <div class="form-group">
      <label for="password">密码</label>
      <input type="password" name="password" id="password" class="form-control"  ng-model="loginInfo.password" placeholder="请输入您的密码"  required>
    </div>
    <button type="submit" class="btn btn-primary loginForm-button"  ng-click="tryLogin()" ng-disabled="loginForm.$invalid">{{loginState}}</button>
    <button class="btn btn-success signIn-button"  ng-click="toRegister()">注册</button>
    <span ng-show="passCheck" class="help-block loginForm-warning">{{wrongInfo}}</span>
  </form>
</section>

