<section class="maintain-section col-md-12">
  <div class="maintain-main">
    <div class="maintain-top">
      <div class="maintain-title">
        <i class="fa fa-gears"></i>
        <span class="maintain-title-span">管理群组</span>
      </div>
      <div class="maintain-button">
        <button class="btn btn-success"
                ng-click="theFunction('createGroup')">
          <i class="fa fa-plus"></i> 新建群组
        </button>
        <button class="btn btn-success"
                ng-click="theFunction('joinGroup')">
          <i class="fa fa-plus"></i> 加入群组
        </button>
      </div>
    </div>
    <div>
      <div class="maintain-table">
        <table class="table table-bordered  ">
          <thead>
          <tr>
            <th width="30" class="maintain-th">组群ID</th>
            <th width="30" class="maintain-th">组群昵称</th>
            <th width="30" class="maintain-th">创建者</th>
            <th width="60" class="maintain-th">组群描述</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat-start="o in groupList">
            <td class="maintain-td">
              {{o.groupID}}
            </td>
            <td class="maintain-td">
              {{o.name}}
            </td>
            <td class="maintain-td">
              {{o.creator}}
            </td>
            <td class="maintain-td">
              {{o.des}}
            </td>
          </tr>
          <tr ng-repeat-end>
            <td class="text-right" colspan="6">
              <button class="btn default btn-xs purple-stripe" ng-click="theFunction('createTask',[o.groupID,o.creator])" ng-if="username==o.creator">
                <i class="fa fa-edit"></i> 新建任务
              </button>
              <!--<button class="btn default btn-xs purple-stripe" ng-click="theFunction('tasksList')" ng-if="username==o.creator">-->
                <!--<i class="fa fa-edit"></i> 任务列表-->
              <!--</button>-->
              <button class="btn default btn-xs purple-stripe" ng-click="theFunction('membersList',o.groupID)" ng-if="username==o.creator">
                <i class="fa fa-edit"></i> 成员列表
              </button>
              <!--<button class="btn default btn-xs purple-stripe" ng-click="theFunction('changeInfo')" ng-if="username==o.creator">-->
                <!--<i class="fa fa-edit"></i> 修改-->
              <!--</button>-->
              <button class="btn default btn-xs purple-stripe" ng-click="whichConfirm(1,o.groupID)"
                      ng-if="username==o.creator">
                <i class="fa fa-trash-o"></i> 解散
              </button>
              <button class="btn default btn-xs purple-stripe" ng-click="whichConfirm(2,o.groupID)" ng-if="username!=o.creator">
                <i class="fa fa-close"></i> 退出
              </button>
            </td>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</section>
