<div class="modal-header">
  <button type="button" class="close" ng-click="actions.cancel()"></button>
  <h4 class="modal-title">成员列表</h4>
</div>
<div class="modal-body">
  <div class="panel-collapse collapse in">
    <ul ng-repeat="o in memberList">
      <li class="member-item">
        <div class="member-namme">
          <h6 class="uppercase">
           {{o}}
          </h6>
        </div>
        <div class="member-action-del" ng-click="removeMember(o)">
        <a class="" href="javascript:;">
          <i class="fa fa-close"></i>
        </a>
      </div>
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button class="btn red" type="button" ng-click="actions.cancel()">关闭
  </button>
</div>
