
<section class="maintain-section col-md-12">
  <div class="maintain-main">
    <div class="maintain-top">
      <div class="maintain-title">
        <i class="fa fa-user"></i>
        <span class="maintain-title-span">个人信息</span>
      </div>
      <div class="maintain-button">
        <button class="btn default btn-md purple-stripe" ng-click="saveChange()">
          <i class="fa fa-save"></i> 保存
        </button>
      </div>
    </div>
    <div>
      <div class="maintain-table">
        <form class="form-horizontal" role="form">
          <div class="portlet box blue" style="border:1px solid #45B6AF">
            <div class="portlet-title" style="background:#45B6AF">
              <div class="caption">
                个人信息
              </div>
            </div>
            <div class="portlet-body">
              <div class="form-group" >
                <label class="col-md-8" style="color:#000">姓名</label>
                <div class="col-md-8">
                  <input class="form-control" id="fullname" type="text"  ng-model="info.name" disabled/>
                </div>
                <label class="col-md-8" style="color:#000" for="name">Email</label>
                <div class="col-md-8">
                  <input class="form-control" id="name" type="text" ng-model="info.email"/>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>
</section>
